

body{
    background-color: rgb(156, 157, 164);
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
    align-items: center;
    margin: 30 px;
    color:rgb(238, 234, 244);
    border-radius: 100px;
}

form div{
   
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{ 
    border-radius: 30px;
    border-color: rgb(194, 216, 216);


}
